
{% load static %}
{% block title  %}
  
{% endblock title  %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript%}
{% bootstrap_messages%}



<html lang="es">
 


{% block content %}
<header  style=" background-color: rgba(23, 74, 75) ;color: white;" >
  <br>
  <div>
    <h1 class="text-center" style="font-family: Georgia, 'Times New Roman', Times, serif;" >Biblioteca municipal "Joaquín López Gaviria"</h1>
  </div>

<nav class=" container-fluid navbar navbar-expand-sm navbar-dark fixed" style=" background-color:#174a4b;" > 
        
  <div class="collapse navbar-collapse " id="collapsibleNavId">
      
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          
          <li class="nav-item">
              <a class="nav-link active" href="{% url 'principal' %}" aria-current="page">Inicio <span class="visually-hidden">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="{% url 'evento'%}" aria-current="page">Eventos <span class="visually-hidden">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="{% url 'libros'%}" aria-current="page"> Libros <span class="visually-hidden">(current)</span></a>
          </li>
       
         
         {% if user.is_authenticated %}
              <div>
                <a class="nav-link active" href="{% url 'logout' %}" aria-current="page">Cerrar sesión <span class="visually-hidden">(current)</span></a>
              {% else %}
              <a class="nav-link active" href="{% url 'login' %}" aria-current="page">Iniciar sesión  <span class="visually-hidden">(current)</span></a>
              {% endif %}
          </div>
  
      </ul>
      <form method="post" action="{% url 'busqueda' %}"  class="d-flex my-2 my-lg-0">
          {% csrf_token %}
          <input class="form-control me-sm-2" type="text" name="busqueda" placeholder="Buscar libro">
          <button class="btn btn-outline-success my-2 my-sm-0" style="background-color: 7bc2c2;border-color: black; color: white;" type="submit">Buscar</button>
      </form>

  </div>
</nav>
</header>

<body>  
<br> <br>

<h1 style="text-align:center">Eventos</h1>
<br>

<div class="row ">
 {% for eventos in evento %}
 <div class="col-3 p-4 my-2 mx-5" >
  <div class="card text-start" style="border-color:  #9ce3e3; height: 600px; width: 380px; ">
   <img class="card-img-top" src="{{ eventos.imagen.url}}" alt="Title" style="border-radius: 5%;" height="280px">
   <div class="card-body p-2">
      <h5  class="card-title">Nombre evento: {{eventos.nombre_evento}} </h5>
     <p class="card-text">Hora inicio:{{eventos.hora_inicio}}</p>
     <p class="card-text">Hora finalización: {{eventos.hora_fin}}</p>
     <p class="card-text">Lugar: {{eventos.lugar}}</p>
     <p class="card-text">Nombre tallerista: {{eventos.nombre_tallerista}}</p>
     <p class="card-text">Profesion tallerista: {{eventos.cargo}}</p>
     
   </div>
 </div>
</div>
 {% endfor %}

</div>
{% endblock content %}

